@font-face {
    font-family: 'SevenSegment';
    src: local('SevenSegment'), url(../../fonts/SevenSegment.ttf) format('truetype')
  }

.Screen-Div {
    text-align: center; 
    display: inline-block;
    background-color: #395f37;
    width: 300px;
    height: 40px;
    font-family: SevenSegment;
    font-size: 35px;
}

.Display {
  display: flex;
  width: 300px;
  height: 40px
}

.Result {
  width: 220px;
  height: 40px;
}

.Equals-Button, .Clear-Button {
  width: 40px;
  height: 40px;
}

