.App {
  text-align: center;
}

.App-Body {
  background-image: url(./img/background.jpg);
  background-position: center;
  font-family: Spumoni;
  color: #fff;
  width: 100%;
  min-height: 1000px;
  text-align: center;
  display: inline-block
}

.Header {
  height: 30px
}

.Totoro {
  width: 460px;
  text-align: center;
  display: inline-block;
  position: relative
}

h1 {
  font-weight: 400;
  font-size: 150px;
  margin: -30px
}

h3 {
  font-weight: 400;
  font-size: 60px;
  margin: 0px
}

ul {
  margin: 0px;
  padding: 0px
}

body {
  text-align: center;
}

.Calculator {
  position: absolute;
  bottom: 45px;
  text-align: center;
  width: 460px
}

.Display-Screen {
  padding-bottom: 10px
}

.Button-Pad {
  display: inline-block
}

.Buttons {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

button {
  width: 30px;
  height: 30px;
  font-size: 20px
}

button:active {
  background-color: #8a8ed5;
}
button:focus {
  outline: #8a8ed5 5px;
  border-radius: 4px;
}

@font-face {
  font-family: 'Spumoni';
  src: local('Spumoni'), url(./fonts/Spumoni.ttf) format('truetype')
}

