.App {
  text-align: center;
}

.App-Body {
  background-image: url(./background.jpg);
  background-position: center;
  font-family: Spumoni;
  color: #fff;
  width: 100%;
  height: 100vh
}

.Header {
  height: 30px
}

h1 {
  font-weight: 400;
  font-size: 150px;
  margin: -30px
}

h3 {
  font-weight: 400;
  font-size: 60px;
  margin: 0px
}

@font-face {
  font-family: 'Spumoni';
  src: local('Spumoni'), url(./fonts/Spumoni.ttf) format('truetype')
}

